h1 {
  text-align: center;
}

.paciente {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr 0.2fr;
  border: 2px solid #36a5fd;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 10px;
  gap: 2rem;
}

button {
  background-color: #0064c8;
  border: 1px solid #0064c8;
  text-align: center;
  border-radius: 5px;
  font-size: 0.8rem;
  color: white;
}

button:hover {
  background-color: #36a5fd;
}

a {
  text-decoration: none;
  color: white;
}

.consulta {
  grid-template-columns: 0.2fr 1fr 1fr;
  border: 2px solid #36a5fd;
  align-items: center;
  border-radius: 5px;
  display: grid;
  gap: 2rem;
}

.consultas {
  grid-column: 1 / -1;
}

input[type="checkbox"] {
  margin-right: 5px;
  height: 2rem;
}
